{% extends "base_generic.html" %}

{% block title %}
    <title>我的借阅</title>
{% endblock title %}

{% block content %}
    <h1>借阅的书</h1>
    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %} 
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a>     (计划归还时间：{{ bookinst.due_back }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>您暂未有借阅的书籍。</p>
    {% endif %}       





{% endblock content %}